h2,
h3 {
    color: #ff6200;
}

div {
    margin-bottom: 1rem;
}

select,
input {
    width: 100%;
    padding: 0.3rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.acoes {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}