<div class="cadastro-container">
  <h2 class="titulo">{{ editando ? 'Editar colaborador' : 'Novo colaborador' }}</h2>

  <div class="form-wrapper">
    <form (ngSubmit)="salvar()" class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Matrícula</mat-label>
        <input matInput [(ngModel)]="colaborador.matricula" name="matricula" required [readonly]="editando" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="colaborador.nome" name="nome" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data de Admissão</mat-label>
        <input matInput type="date" [(ngModel)]="colaborador.data_admissao" name="data_admissao" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cargo</mat-label>
        <input matInput [(ngModel)]="colaborador.cargo" name="cargo" required />
      </mat-form-field>

      <div class="botoes">
        <button mat-raised-button color="primary" [disabled]="carregando">
          {{ carregando ? 'Salvando...' : (editando ? 'Salvar alterações' : 'Cadastrar') }}
        </button>

        <button mat-stroked-button type="button" (click)="fechar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
